<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:error] %>
<%= render 'header' %>

<%= yield %>

</body>
</html>
